@{
    ViewBag.Title = "TransactionList";
}

<h2>TransactionList</h2>

<article id="page" ng-app="app" ng-controller="FormController">

    @if(User.Identity.IsAuthenticated)
    { 
    <div class="tabbable forma hidden-sm hidden-xs visible-md-block visible-lg-block">
        <div class="tab-pane active" id="tabRus">
            <div id="tabRus">
                @Html.Partial("_testForm")
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div ng-include="'/angular/test/form/_testTable.html'"></div>
        </div>
    </div>
    }

</article>